# Bytecode e artefatos python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambientes virtuais
.env
.venv
env/
venv/

# Logs e arquivos gerados em execucoes
error_logs/
profiles/
profiles.json
*.log

# Arquivos locais de configuracao/credenciais
users.txt
dados.db
acli

# Arquivos do sistema
.DS_Store
debug_respostas/

# Node
.pnpm
