# Bytecode e artefatos python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambientes virtuais
.env
.venv
.flox
env/
venv/
*.lock
.rdb

# Logs e arquivos gerados em execucoes
error_logs/
profiles/
profiles.json
*.log

# Arquivos locais de configuracao/credenciais
users.txt
dados.db
acli
config.yaml

# Arquivos do sistema
.DS_Store
debug_respostas/

# Node
.pnpm
proxy_cache.json

raxy_logic.egg-info/
